<!DOCTYPE html>
<html lang="en">

<head>
    <% include  ./includes/header %>
    <script type="text/javascript">
        changeOnglet('issues')
    </script>
</head>
            
<body>
    </div>
    <% if (issuesList.length != 0) { %>
    <div id="issuesList" class="w3-margin">
        <table class="w3-table-all w3-hoverable w3-card-4">
            <h3 class="w3-margin w3-center">Issues List</h3>
            <tr class="w3-blue">
                <th style="width:15%">User Story number</th>
                <th style="width:15%">Description</th>
                <th style="width:15%">Difficulty</th>
                <th style="width:15%">Priority</th>
                <th style="width:15%">test_state</th>
                <th style="width:12.5%"></th>
                <th style="width:12.5%"></th>
            </tr>
            <% for (var i = 0; i < issuesList.length; ++i) { %>
            <tr class="Projects">
                <td><%= issuesList[i].us_num %></td>
                <td><%= issuesList[i].description %></td>
                <td><%= issuesList[i].difficulty %></td>
                <td><%= issuesList[i].priority %> </td>
                <td><%= issuesList[i].test_state %> </td>
                <th><button onclick="document.getElementById('updateIssue<%=issuesList[i]._issue_id %>').style.display='block'"
                    class="w3-btn w3-ripple w3-green">Modify</button></th>

                    <div class="w3-margin w3-center">
                        <div id="updateIssue<%=issuesList[i]._issue_id %>" class="w3-modal">
                            <div class="w3-modal-content w3-animate-bottom">
                                <div class="w3-container">
                                    <form class="w3-container" action="/updateIssue" method="POST">
                                        <label>User Story number</label>
                                        <input class="w3-input w3-border w3-round" type="test" name="usNum" value="<%=issuesList[i].us_num %>" required>
                                            
                                        <label>Description</label>
                                        <input class="w3-input w3-border w3-round" type="text" name="description" value="<%=issuesList[i].description %>" required>
                
                                        <label>Difficulty</label>
                                        <input class="w3-input w3-border w3-round" type="number" name="difficulty" value="<%=issuesList[i].difficulty %>" required>
                                        
                                        <label>Priority</label><br>
                                            <input type="radio" name="priority" value="Low" <% if (issuesList[i].priority === "Low") { %> checked <% } %>> Low<br>
                                            <input type="radio" name="priority" value="Medium" <% if (issuesList[i].priority === "Medium") { %> checked <% } %>> Medium<br>
                                            <input type="radio" name="priority" value="High" <% if (issuesList[i].priority === "High") { %> checked <% } %>> High<br>

                                        <label>State</label><br>
                                            <input type="radio" name="state" value="TODO" <% if (issuesList[i].test_state === "TODO") { %> checked <% } %>> TODO<br>
                                            <input type="radio" name="state" value="DOING" <% if (issuesList[i].test_state === "DOING") { %> checked <% } %>> DOING<br>
                                            <input type="radio" name="state" value="DONE" <% if (issuesList[i].test_state === "DONE") { %> checked <% } %>> DONE<br>

                                        <input class="w3-input w3-border w3-round hideInput" type="number" name="issue_id" value="<%=issuesList[i]._issue_id %>">
                
                                        <input class="w3-btn w3-margin-top w3-ripple w3-green" type="submit" value="Validate">
                                        
                                    </form>
                                    <button onclick="document.getElementById('updateIssue<%=issuesList[i]._issue_id %>').style.display='none'"
                                        class="w3-btn w3-ripple w3-margin-top w3-red">Cancel</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <th>
                        <form action="/deleteIssue" method = "post" onsubmit="return confirm('Are you sure you want to delete this issue ?')">
                            <button type="submit" value='<%=issuesList[i]._issue_id %>'
                                name="issueId" class="w3-btn w3-ripple w3-red">Remove</button>    
                        </form>
                    </th>
                </tr>
            <% }; %>
        </table>
    </div>
    <% }; %>
    <div class="w3-margin w3-center">

        <button onclick="document.getElementById('addIssue').style.display='block'"
        class="w3-btn w3-ripple w3-green">+ Add Issue</button>

        <div id="addIssue" class="w3-modal">
            <div class="w3-modal-content w3-animate-bottom">
                <div class="w3-container">
                    <form class="w3-container" action="/insertIssue" method="POST">
                        <label>User Story number</label>
                        <input class="w3-input w3-border w3-round" type="text" name="usNum" required>
                            
                        <label>Description</label>
                        <input class="w3-input w3-border w3-round" type="text" name="description" required>

                        <label>Difficulty</label>
                        <input class="w3-input w3-border w3-round" type="number" name="difficulty" placeholder="must be an integer" required>

                        <label>Priority</label><br>
                            <input type="radio" name="priority" value="Low" checked> Low<br>
                            <input type="radio" name="priority" value="Medium"> Medium<br>
                            <input type="radio" name="priority" value="High"> High<br>

                        <label>State</label><br>
                            <input type="radio" name="state" value="TODO" checked> TODO<br>
                            <input type="radio" name="state" value="DOING"> DOING<br>
                            <input type="radio" name="state" value="DONE"> DONE<br>

                        <input class="w3-btn w3-margin-top w3-ripple w3-green" type="submit" value="Validate">

                        <button onclick="document.getElementById('addIssue').style.display='none'"
                    class="w3-btn w3-ripple w3-margin-top w3-red">Cancel</span>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
