<!DOCTYPE html>
<html lang="en">

<head>
    <% include  ./includes/header %>
    <script type="text/javascript">
        changeOnglet('tasks')
    </script>
</head>

<body>
    </div>
    <% if (taskList.length != 0) { %>
    <div id="TaskList" class="w3-margin">
        <table class="w3-table-all w3-hoverable w3-card-4">
            <h3 class="w3-margin w3-center">Task List</h3>
            <tr class="w3-blue">
                <th style="width:20%">Task id</th>
                <th style="width:20%">Description</th>
                <th style="width:20%">State</th>
                <th style="width:10%"> </th>
                <th style="width:10%"> </th>
            </tr>
            <% for (var i = 0; i < taskList.length; ++i) { %>
            <tr class="Projects">
                <td><%= taskList[i]._task_id %></td>
                <td><%= taskList[i].description %></td>
                <td><%= taskList[i].state %></td>
                <th><button onclick="document.getElementById('updateTask<%=taskList[i]._task_id %>').style.display='block'"
                    class="w3-btn w3-ripple w3-green">Modify</button></th>

                    <div class="w3-margin w3-center">
                        <div id="updateTask<%=taskList[i]._task_id %>" class="w3-modal">
                            <div class="w3-modal-content w3-animate-bottom">
                                <div class="w3-container">
                                    <form class="w3-container Task-form" action="/updateTask" method="POST">
                                        <label>Task id</label>
                                        <input class="w3-input w3-border w3-round" type="number" name="taskId" value='<%=taskList[i]._task_id %>' readonly>
                                            
                                        <label>Description</label>
                                        <input class="w3-input w3-border w3-round" type="text" name="description" value='<%=taskList[i].description %>' >
                
                                        <label>State</label><br>
                                            <input type="radio" name="state" value="TODO" <% if (taskList[i].state === "TODO") { %> checked <% } %>> TODO<br>
                                            <input type="radio" name="state" value="DOING" <% if (taskList[i].state === "DOING") { %> checked <% } %>> DOING<br>
                                            <input type="radio" name="state" value="DONE" <% if (taskList[i].state === "DONE") { %> checked <% } %>> DONE<br>
                

                                        <label>Related Issues</label><br>                        
                                            <%  var it = issueTasksMap.entries()
                                                var next = it.next()
                                                while (!next.done) {
                                                    var issueInTask = "false"
                                                    var usNum = next.value[0]
                                                    var taskL = next.value[1]
                                                    taskL.forEach(function(taskId) { %>
                                                        <% if (taskId === taskList[i]._task_id) { 
                                                            issueInTask = "true" 
                                                        }
                                                    })
                                                    var next = it.next() %>
                                                    <input type="checkbox" name="usList" value="<%=usNum %>" <% if (issueInTask === "true") { %> checked <% } %>> <%= usNum %><br>
                                            <% }; %>

                                        <label>Dependency task id</label><br>
                                        <% for (var x = 0; x < taskList.length; ++x) { 
                                            if (taskList[x]._task_id !== taskList[i]._task_id) { %>
                                            <input type="checkbox" name="dependencyTask" value="<%=taskList[x]._task_id %>"> <%=taskList[x]._task_id %><br>
                                            <% }; 
                                        }; %>

                                        <label>Associated member</label><br>
                                        <% for (var y = 0; y < memberList.length; ++y) { %>
                                            <input type="checkbox" name="member" value="<%=memberList[y] %>"> <%=memberList[y] %><br>
                                        <% }; %>
                                        
                                        <input class="w3-btn w3-margin-top w3-ripple w3-green" type="submit" value="Validate">
                                        
                                    </form>
                                    <button onclick="document.getElementById('updateTask<%=taskList[i]._task_id %>').style.display='none'"
                                        class="w3-btn w3-ripple w3-margin-top w3-red">Cancel</span>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <th>
                        <form action="/deleteTask" method = "post">
                            <button type="submit" value='<%=taskList[i]._task_id %>'
                                name="taskId" class="w3-btn w3-ripple w3-red">Remove</button>    
                        </form>
                    </th>
            </tr>

            <% }; %>
        </table>
    </div>
    <% }; %>
    <div class="w3-margin w3-center">

        <button onclick="document.getElementById('addTask').style.display='block'"
        class="w3-btn w3-ripple w3-green">+ Add Task</button>

        <div id="addTask" class="w3-modal">
            <div class="w3-modal-content w3-animate-bottom">
                <div class="w3-container">
                    <form class="w3-container Task-form" action="/insertTasks" method="POST">
                        <label>Task id</label>
                        <input class="w3-input w3-border w3-round" type="number" name="taskId" placeholder="must be an integer" required>
                            
                        <label>Description</label>
                        <input class="w3-input w3-border w3-round" type="text" name="description" required>

                        <label>State</label><br>
                            <input type="radio" name="state" value="TODO" checked> TODO<br>
                            <input type="radio" name="state" value="DOING"> DOING<br>
                            <input type="radio" name="state" value="DONE"> DONE<br>

                            <label>Related Issues</label><br>                                        
                            <% for (var j = 0; j < issueList.length; ++j) { %>
                                <input type="checkbox" name="usList" value="<%=issueList[j].us_num %>"> <%=issueList[j].us_num %><br>
                            <% }; %>

                        <label>Dependency task id</label><br>
                            <% for (var x = 0; x < taskList.length; ++x) { %>
                                <input type="checkbox" name="dependencyTask" value="<%=taskList[x]._task_id %>"> <%=taskList[x]._task_id %><br>
                            <% }; %>

                        <input class="w3-btn w3-margin-top w3-ripple w3-green" type="submit" value="Validate">

                        <button onclick="document.getElementById('addTask').style.display='none'"
                    class="w3-btn w3-ripple w3-margin-top w3-red">Cancel</span>
                    </form>
                </div>
            </div>
        </div>
    </div>


</body>

</html>