<meta charset="UTF-8">
<title>SAF-SCRUM</title>

<link rel='stylesheet' href='css/w3.css'>
<link rel='stylesheet' href='css/hideInput.css'>

<script type="text/javascript">
        function changeOnglet (name) {
                document.getElementById('onglet_' + name).className += ' w3-green'
        }
</script>

<div class="w3-container w3-teal">
        <div class="w3-left-align w3-padding"><h2>ProjectName</h2></div>
        <div class="w3-display-topright"><a href="/logout" class="w3-button w3-teal w3-hover-green"><h2>logout</h2></a></div>
   </div>

<div class="w3-bar w3-dark-grey">
        <form action="/summary" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_summary" style="width:12.5%" onclick="changeOnglet('summary')" value="Summary">
        </form>
        <form action="/issues" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_issues" style="width:12.5%" onclick="changeOnglet('issues')" value="Issues">
        </form>
        <form action="/tasks" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_tasks" style="width:12.5%" onclick="changeOnglet('tasks')" value="Tasks">
        </form>
        <form action="/tests" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_tests" style="width:12.5%" onclick="changeOnglet('tests')" value="Tests">
        </form>
        <form action="/sprints" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_sprints" style="width:12.5%" onclick="changeOnglet('sprints')" value="Sprints">
        </form>
        <form action="/releases" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_releases" style="width:12.5%" onclick="changeOnglet('releases')" value="Releases">
        </form>
        <form action="/documentation" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_documentation" style="width:12.5%" onclick="changeOnglet('documentation')" value="Documentation">
        </form>
        <form action="/projectManagement" method="get">
                <input class="hideInput" type="text" name="idProject" value=<%= idProject %>>
                <input class="w3-bar-item w3-button w3-mobile" type="submit" id="onglet_projectManagement" style="width:12.5%" onclick="changeOnglet('projectManagement')" value="ProjectManagement">
        </form>
</div>